{{- if .Values.envoyConfig.create }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "marchproxy-egress.fullname" . }}-envoy
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "marchproxy-egress.labels" . | nindent 4 }}
    app.kubernetes.io/component: envoy
data:
  envoy.yaml: |
    {{- if .Values.envoyConfig.bootstrap }}
    {{- .Values.envoyConfig.bootstrap | nindent 4 }}
    {{- else }}
    # Default Envoy bootstrap configuration
    admin:
      access_log_path: /tmp/admin_access.log
      address:
        socket_address:
          protocol: TCP
          address: 0.0.0.0
          port_value: {{ .Values.config.l7.envoyAdminPort }}

    static_resources:
      listeners:
        - name: listener_http
          address:
            socket_address:
              protocol: TCP
              address: 0.0.0.0
              port_value: {{ .Values.config.l7.envoyListenPort }}
          filter_chains:
            - filters:
                - name: envoy.filters.network.http_connection_manager
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                    stat_prefix: ingress_http
                    codec_type: AUTO
                    route_config:
                      name: local_route
                      virtual_hosts:
                        - name: local_service
                          domains: ["*"]
                          routes:
                            - match:
                                prefix: "/"
                              route:
                                cluster: dynamic_forward_proxy_cluster
                    http_filters:
                      {{- if .Values.config.extAuth.enabled }}
                      - name: envoy.filters.http.ext_authz
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.ext_authz.v3.ExtAuthz
                          grpc_service:
                            envoy_grpc:
                              cluster_name: ext_authz
                            timeout: 0.5s
                          transport_api_version: V3
                      {{- end }}
                      - name: envoy.filters.http.dynamic_forward_proxy
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.dynamic_forward_proxy.v3.FilterConfig
                          dns_cache_config:
                            name: dynamic_forward_proxy_cache_config
                            dns_lookup_family: V4_ONLY
                      - name: envoy.filters.http.router
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router

        - name: listener_https
          address:
            socket_address:
              protocol: TCP
              address: 0.0.0.0
              port_value: {{ .Values.config.l7.envoyHttpsPort }}
          filter_chains:
            - filters:
                - name: envoy.filters.network.http_connection_manager
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                    stat_prefix: ingress_https
                    codec_type: AUTO
                    route_config:
                      name: local_route
                      virtual_hosts:
                        - name: local_service
                          domains: ["*"]
                          routes:
                            - match:
                                prefix: "/"
                              route:
                                cluster: dynamic_forward_proxy_cluster
                    http_filters:
                      - name: envoy.filters.http.dynamic_forward_proxy
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.dynamic_forward_proxy.v3.FilterConfig
                          dns_cache_config:
                            name: dynamic_forward_proxy_cache_config
                            dns_lookup_family: V4_ONLY
                      - name: envoy.filters.http.router
                        typed_config:
                          "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router

      clusters:
        - name: dynamic_forward_proxy_cluster
          connect_timeout: 5s
          lb_policy: CLUSTER_PROVIDED
          cluster_type:
            name: envoy.clusters.dynamic_forward_proxy
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.clusters.dynamic_forward_proxy.v3.ClusterConfig
              dns_cache_config:
                name: dynamic_forward_proxy_cache_config
                dns_lookup_family: V4_ONLY

        {{- if .Values.config.extAuth.enabled }}
        - name: ext_authz
          connect_timeout: 0.5s
          type: STATIC
          http2_protocol_options: {}
          load_assignment:
            cluster_name: ext_authz
            endpoints:
              - lb_endpoints:
                  - endpoint:
                      address:
                        socket_address:
                          address: 127.0.0.1
                          port_value: {{ .Values.config.extAuth.port }}
        {{- end }}
    {{- end }}
{{- end }}
